@import "tailwindcss";

@theme {
    --color-indigo-500: #6366f1;
    --color-indigo-600: #4f46e5;
    --color-slate-950: #020617;
}

:root {
    font-size: 16px;
}

body {
    @apply bg-slate-950 text-slate-200 antialiased;
    font-family: var(--font-geist-sans), ui-sans-serif, system-ui;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-slate-800 rounded-full hover:bg-slate-700;
}